/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html {
   @import url(https://fonts.googleapis.com/earlyaccess/sawarabimincho.css);
   font-family: 'Sawarabi Mincho';
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

hr {
  width: 40px;
  margin-bottom: 5%;
}

/* nav */
.brand-logo {
  margin: 0 auto;
}

.brand-logo p {
  text-align: center;
  font-size: 0;
}

.brand-logo p img {
  width: 50%;
  vertical-align: middle;
}

hr.nav_moblie {
  width: 80%;
}

.nav_product {
  border-left-width: 1px;
  border-left-style: inset;
  line-height: 32px;
}

/* intro */
.intro
{
  text-align: center;
  padding: 19% 7%;
}

/* service */
.service .section {
  padding-top: 0;
}

/* contact */
hr.contact_border {
  width: 95%;
}

.contact h5
{
  text-align: center;
  margin-bottom: 15px;
}

.material_light_red {
  background-color: #F8BBD0;
}

.material_red {
  background-color: #F48FB1;
}

.material_blue {
  background-color: #90CAF9;
}

.material_yellow {
  background-color: #FFE082;
}

.intro.material_yellow {
  margin-bottom: 3%;
}

/* detail */
.trait {
  padding-top: 3%;
}

#trait1 img {
  float: left;
  margin: 0 10px 10px 0;
  width: 35%;
}

#trait2 img {
  float: left;
  margin: 0 10px 10px 0;
}

#trait3 img {
  float: left;
  margin: 0 10px 10px 0;
  width: 60%;
}

.intro.material_blue {
  margin-top: 7%;
}

/* footer */
footer.page-footer {
  padding-top: 0;
  background-color: #EDEDED;
}

footer.page-footer .footer-copyright {
  line-height: 25px;
}

nav .brand-logo p {
  font-size: 18px;
  vertical-align: middle;
  margin: 0 auto;
}


.parallax-container {
  padding: 26% 0;
  max-height: 400px;
  line-height: 0;
  height: 50%;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media(max-width: 1580px) {
  .parallax-container h1 {
    font-size: 1.5em;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }
}
@media(max-width: 768px) {
  .parallax-container h1 {
    font-size: 1.0em;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }
}

@media(max-width: 1580px) {
  .parallax-container h2 {
    font-size: 1.5em;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }
}
@media(max-width: 768px) {
  .parallax-container h2 {
    font-size: 1.0em;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

.background {
  width: 100%;
  filter: brightness(75%);
}

.hero img {
   height: auto;
   width: 100%;
}

.navigation {
  background-color: rgba(158, 122, 122, 0.5);
}

.collection-item {
}

.material-icons {
  vertical-align: bottom;
}
